{% extends "layout.njk" %}

{% block content %}
<main>
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>
  <h2>{{ views }}</h2>
  <form action="/" method="post">
    <label for="message">Password</label>
    <textarea id="message" name="message" required></textarea>
    <button type="submit">Submit</button>
  </form>
</main>
{% endblock %}